body{
  font-family:sans-serif;
  background: #fafaff;
  color: #15101b;
}
table{
  width:100%;
  border-collapse: collapse;
  margin: 14px 0;
  background: #fff;
}
th, td{
  border: 1px solid #ddd;
  padding:6px 8px;
}
th{
  background: #e7d6fa
}
input,select,button,textarea{
  margin:2px 1px;
  padding:4px 6px;
  border-radius:3px;
  border:1px solid #bcc;
  font-size:1em;
}
input[type=number]{
  width:80px;
}@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
